*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: linear-gradient(coral,deeppink);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0,2);
    margin: 50px;
    
}
.container .left-side
{
    position: relative;
    background-color: #065478;
    padding:40px;
}
.container .right-side
{
    position: relative;
    background-color: #91acb9;
    padding:40px;
}
.profile-text
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:20px ;
    border-bottom: 5px solid rgba(255,255,255,0.2);
}
.profile-text .imgbox
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-text .imgbox img
{
    position:absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile-text h2{
    color: #fff;
    font-size: 1.5em;     /*1em=16px */
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    line-height: 1.4em;
}
.profile-text span
{
    color:#fff;
    font-size: 1em;
    font-weight: 500;

}
.contact-info
{
    padding-top: 40px;
}
.title
{
    color:white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact-info ul{
    position: relative;

}
.contact-info ul li{
    list-style: none;
    position: relative;
    margin:10px 0 ;
    cursor:pointer;
    color:white;
    font-weight: 300;
}
.contact-info ul li .icon
{
    display: inline-block;
    width:30px;
    font-size: 18px;
    color:aquamarine;

}
.contact-info.education li
{
margin-bottom: 15px;

}
.contact-info.education h5{
    color:#03a9f4;
    font-weight: 500;
}
.contact-info.education h4{
    color:white;
    font-weight: 300;
}
.contact-info.languages .percent
{
    position: relative;
    width:100%;
    height:6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.contact-info.contact-info.languages .percent div{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    background: #03a9f4;
}

.about{
    margin-bottom: 50px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color:#003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color:#333;
    text-align: justify;
    line-height: 3vh;
}
.about .box{
    display: flex;
    flex-direction: column;
    margin:20px 0;
}
.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skills .box h4{
    text-transform: uppercase;
    color:#848c99;
    font-weight: 500;
}
.skills .box .percent{
    position: relative;
    width: 100%;
    height:10px;
    background: #f0f0f0;
}
.skills .box .percent div{
    position: absolute;
    top:0;
    left:0;
    background: #03a9f4;
    height: 100%;
}
.certifications ul li{
    color:#333;
    font-weight: 500;
    margin:10px 15px;
}
.certifications ul{
    margin-bottom: 50px;
}
.interest ul li{
    list-style: none;
    color:#333;
    font-weight: 500;
    margin:10px 0;
}
.interest ul li .fa-solid{
    color:#03a9f4;
    font-size: 18px;
    width:30px;
}
.strengths ul li{
    color:#333;
    font-weight: 500;
    margin:10px 15px;
}
